<h1>Questions</h1>

<form action="/answer" method="get">
  <input type="Message" name="message" placeholder="What is your question / message ?">
   <input type="submit">
</form>

<!-- <p>Find me in app/views/questions/ask.html.erb</p> -->
